@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{

    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #25c085;
    padding: 0 10px;
}
.wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 32px;
    box-shadow: 1px 1px 2px rgb(0, 0,0, 0.125);
}
.wrapper .title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #25c085;
}
.wrapper .form{
    width: 100%;
}
.wrapper .form .input_field{
    margin-bottom:15px ;
    align-items: center;
    display: flex;
}
.wrapper .form .input_field label{
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
}
.wrapper .form .input_field .input,
.wrapper .form .input_field .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    padding: 6px 8px;
    font-size: 13px;
    border-radius: 4px;
    transition: all 0.3 ease;
}
.wrapper .form .input_field .textarea{
    resize: none;
    height: 80px;
}
.wrapper .form .input_field .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
}
.wrapper .form .input_field .custom_select select{
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #25c085;  
    width: 100%;
    height: 100%;
    padding: 6px 8px;
    border-radius: 4px;
    outline:none;
}
.wrapper .form .input_field .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}
.wrapper .form .input_field .input:focus,
.wrapper .form .input_field select:focus,
.wrapper .form .input_field .textarea:focus{
    border: 1px solid #25c085;
}
.wrapper .form .input_field p{
    font-size: 13px;
    color: #757575;
}
.wrapper .form .input_field .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}
.wrapper .form .input_field .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 16px;
    border: 0;
    border-radius: 4px;
    background-color: #25c085;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-weight: ;
}
.wrapper .form .input_field .btn:hover{
    background: #0cd186;
}
.wrapper .form .input_field .btn:last-child{
    margin-bottom: 0;
}

@media(max-width:420px){
    .wrapper .form .input_field{
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .input_field label{
        margin-bottom: 5px;
    }
    .wrapper .form .input_field.terms{
        flex-direction: row;
    }
}
